.child-item
{
    --ion-item-bachground:#f3f2f1;
    --padding-start:8px;
    --padding-end:8px;
    margin-bottom: 2px;
}
.setAttention
{
  font-weight: bolder !important;
  color: red !important;
  font-size: x-large !important;
}