.setAttention {
    font-weight: bolder;
    color: red;
    font-size: large;
}

ion-thumbnail {
    width: 100px !important;
    height: 80px !important;
}

.rideLb {
    width: 50px !important;
}

.mapContent {
    height: 67% !important;
}

.titleBg {
    background-color: #e6a315;
}

.bjorney {
    background-color: hsl(42, 42%, 83%);
}

.map {
    position: absolute;
    height: 100% !important;
    width: 92% !important;
    background-color: transparent;
    opacity: 0;
    transition: opacity 150ms ease-in;
}

.map.visible {
    opacity: 1;
}

.setAttention {
    font-weight: bolder;
    font-size: x-large;
    color: red;
}

// .mapContent {
//     height: 300px !important;
// }