<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-title size="large">Our Contact Information</ion-title>

    <ion-item class="ion-item" lines="none">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class=""
              >Email: <strong>callmeforride@gmail.com</strong></ion-label
            >
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="">Phone: <strong>405 506 5821</strong></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>
