<ion-app>
  <ion-split-pane contentId="main-content" *ngIf="!isDesktop">
    <ion-menu
      contentId="main-content"
      type="overlay"
      (ionWillOpen)="menuOpened()"
      (ionDrag)="menuOpened()"
      (ionDidClose)="menuClosed()"
    >
      <ion-header>
        <ion-toolbar>
          <ion-title> Call For Ride </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-menu-toggle>
          <ion-card routerLink="/profile">
            <ion-card-content>
              <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <ion-img [src]="selectedImage"></ion-img>
                </ion-thumbnail>
                <ion-label position="stacked">{{ fullName }}</ion-label>
                <ion-text position="stacked" style="font-size: small"
                  >Edit Profile</ion-text
                >
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-menu-toggle>

        <div *ngIf="authenticated == true">
          <ion-list>
            <ion-menu-toggle>
              <ion-item lines="none" routerLink="/triphistory">
                <ion-icon name="speedometer" slot="start"></ion-icon>
                <ion-label>All Trips</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle *ngIf="adminMenuAllowed">
              <ion-item lines="none" routerLink="/ride-requests">
                <ion-icon name="checkbox-outline" slot="start"></ion-icon>
                <ion-label>Booking Requests</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle *ngIf="adminMenuAllowed">
              <ion-item lines="none" routerLink="/user">
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>All Users</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle *ngIf="adminMenuAllowed">
              <ion-item lines="none" routerLink="/user-driver">
                <ion-icon name="car-outline" slot="start"></ion-icon>
                <ion-label>All Drivers</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle *ngIf="adminMenuAllowed">
              <ion-item lines="none" routerLink="/thank-you">
                <ion-icon name="ribbon-outline" slot="start"></ion-icon>
                <ion-label>Change Prices</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <!-- <ion-menu-toggle *ngIf="adminMenuAllowed">
            <ion-item lines="none" routerLink="/folder">
              <ion-icon name="mail-outline" slot="start"></ion-icon>
              <ion-label>Contact</ion-label>
            </ion-item>
          </ion-menu-toggle> -->

            <ion-menu-toggle *ngIf="adminMenuAllowed">
              <ion-item lines="none" (click)="onLogout()" button>
                <ion-icon name="exit" slot="start"></ion-icon>
                <ion-label>Logout</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <div *ngIf="isDesktop">
    <ion-header style="height: fit-content">
      <ion-toolbar>
        <ion-row class="ion-align-items-center">
          <ion-Col size="2">
            <!-- <img
              src="../assets/image/icon.png"
              class="logo ion-text-left"
              style="height: 50px"
              routerLink="/ride-requests"
              routerLinkActive="active-link"
            /> -->
            <div style="font-size: 30px; font-weight: 900">CALL FOR RIDE</div>
          </ion-Col>
          <ion-Col size="10">
            <div
              class="navbar"
              class="ion-text-center"
              *ngIf="authenticated == true"
            >
              <ion-button
                fill="clear"
                color="dark"
                size="small"
                *ngIf="adminMenuAllowed"
                routerLink="/user"
                routerLinkActive="active-link"
                class="link"
              >
                All Users
              </ion-button>

              <ion-button
                fill="clear"
                color="dark"
                size="small"
                *ngIf="adminMenuAllowed"
                routerLink="/user-driver"
                routerLinkActive="active-link"
                class="link"
              >
                All Drivers
              </ion-button>

              <ion-button
                fill="clear"
                color="dark"
                size="small"
                *ngIf="adminMenuAllowed"
                routerLink="/triphistory"
                routerLinkActive="active-link"
                class="link"
              >
                All Trips
              </ion-button>

              <ion-button
                fill="clear"
                color="dark"
                size="small"
                *ngIf="adminMenuAllowed"
                routerLink="/ride-requests"
                routerLinkActive="active-link"
                class="link"
              >
                Booking Requests
              </ion-button>

              <ion-button
                fill="clear"
                color="dark"
                size="small"
                *ngIf="adminMenuAllowed"
                routerLink="/profile"
                routerLinkActive="active-link"
                class="link"
              >
                Profile
              </ion-button>

              <ion-button
                fill="clear"
                color="dark"
                size="small"
                *ngIf="adminMenuAllowed"
                routerLink="/thank-you"
                routerLinkActive="active-link"
                class="link"
              >
                Change Prices
              </ion-button>

              <ion-button
                fill="clear"
                color="dark"
                size="small"
                *ngIf="adminMenuAllowed"
                routerLinkActive="active-link"
                class="link"
                (click)="onLogout()"
              >
                Logout
              </ion-button>
            </div>
          </ion-Col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </div>
</ion-app>
