<ion-content class="background-padding">
  <div class="upsection">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="dark" expand="block"> ADMIN SECTION </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="o_section">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block" (click)="GotoLogin()">
            LOGIN
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
