ion-content {

  // .background-padding{
 --background: url("src/assets/image/rider.jpeg") no-repeat  -122px 60px/cover;
  // background-size: cover;
  // background-position: center;
  // }
 
 
  .upsection {
    position: fixed;
    //  background: color($colors, primary, base);
    top: 0%;
    width: 100%;
    //   border-radius: $buttonRadius;
    left: 0%;
  }

  .o_section {
    position: fixed;
    //  background: color($colors, primary, base);
    top: 80%;
    width: 100%;
    //   border-radius: $buttonRadius;
    left: 0%;
  }
  ion-button {
    background: rgb(10, 100, 235);
    height: 50px;
    color: #ffffff;
    animation-direction: alternate;
    animation-name: wiki;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    border-radius: 12px;
  }
}
