.select-text {
  flex: 1 1 0%;
  min-width: 150px !important;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

a {
  background-color: transparent;
  color: #ff4038;
}
