<ion-header>
  <ion-toolbar class="titleBg">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rider Pickup Location</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content class="mapContent">
    <ion-content class="ion-padding">
      <div class="map" #map></div>
    </ion-content>
  </ion-content>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item no-padding align-items-center *ngIf="message">
        <div style="text-align: center">
          Pickup address: {{message.startAddress}}
        </div>
      </ion-item>
      <ion-item lines="full">
        <ion-button
          expand="full"
          size="large"
          color="primary"
          (click)="drive(message)"
        >
          Drive
        </ion-button>
      </ion-item>
      <ion-grid no-padding style="width: 100% !important">
        <ion-row no-padding>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-label position="stacked" class="setAttention"
                  >Rider Details</ion-label
                >
              </ion-card-header>
              <ion-card-content>
                <ion-item lines="full">
                  <ion-grid no-padding style="width: 100% !important">
                    <ion-row no-padding>
                      <ion-col
                        size="auto"
                        ion-item
                        no-padding
                        text-center
                        class="ion-align-self-start"
                        style="text-align: left; justify-content: center"
                      >
                        <!-- <ion-thumbnail position="stacked" *ngIf="driver">
                                                  <img [src]="driver.profileImgUrl">
                                              </ion-thumbnail> -->
                        <h3 position="stacked">
                          {{message.firstName +" "+ message.lastName}}
                        </h3>
                        <ion-label>
                          <ion-icon
                            position="stacked"
                            name="call-outline"
                          ></ion-icon>
                          {{message.phoneNumber}}</ion-label
                        >
                      </ion-col>
                      <!-- <ion-col size="auto" ion-item class="ion-align-items-end" style="text-align:center;justify-content: center;">
                                              <ion-thumbnail *ngIf="driver" position="stacked">
                                                  <img [src]="driver.carPhotopath">
                                              </ion-thumbnail>
                                              <h3 *ngIf="driver" position="stacked">{{driver.carType}}</h3>
                                              <h3 *ngIf="driver" position="stacked">{{driver.licencesPlate}}</h3>
                                          </ion-col> -->
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content>
</ion-content>
